*{margin: 0;
padding: 0}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/**********************
	Header Section
***********************/
header{
	width: 100%;
	background: black ;
}

.nav-link{
	color: white !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-left: 16px;
}

.banner{
	width: 100%;
	height: 100vh;
	background: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.banner-content{
	height: 96vh;
	display: table-cell;
	vertical-align: middle;
	padding: 25px;
}

.banner-content h3{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 36px;
	margin: 25px 0px;
	width: 94%;
}

.banner-content p{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 16px;
	margin-bottom: 30px;
	color: gray;
	width: 90%;
}

.line{
	width: 75px;
	height: 2px;
	background-color: white;
	margin-bottom: 30px;
}

.banner-content button{
	padding: 10px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
.banner-content button:hover{
	background: white;
	color: black;
	transition: 0.3s;
	cursor: pointer;
}

.banner-form{
	height: 96vh;
	display: table-cell;
	vertical-align: middle;
	padding: 25px;
}
.card-header{
	background-color: #f5f5f5;
}
.card-header h3{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}
.card-header h3 span{
	color: #ff9b51;
}

.form-control{
	border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #cec3c3;
    outline: none;
}
.form-control:focus{
		outline: none;
		box-shadow: none;
}

.card-footer{
	width: 100%;
	background-color: #ff9b51;
	text-align: center;
}

.card-footer input{
	background: transparent;
	border:none;
	color: white;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}

/**********************
  Social Media Section
***********************/
.social-media-content{
	width: 100%;
	padding: 25px 0px 0px 25px;
}
.social-media-content h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 600;
}

.social-media-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: gray;
	width: 92%;
}

.social-media{
	border-bottom: 2px solid #cec3c3;
}


.social-media-icon ul li{
	list-style: none;
    display: inline-block;
    margin-left: 38px;
    margin-top: 36px;
}
.social-media-icon ul li a{
    color: #cccccc;
}
.social-media-icon ul li a:hover{
    color: blue;
}
.social-media-icon .last{
	transform: rotate(45deg);
}

/**********************
	Features Section
***********************/
.features{
	width: 100%;
	padding: 80px 0;
	background: #f5f5f5;
}
.features-tab .tab{
	list-style: none;
    background: #333333;
    margin-bottom: 1px;
    width: 100px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    color: white;
    font-weight: 600;
}

.features-tab .tab:first-child{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.features-tab .tab:last-child{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.current{
	background: #ff8b38 !important;
}
.tab:hover{
	background: #ff8b38 ;
	transition: 0.3s;
	cursor: pointer;
}
.tab-content{
	width: 100%;
	padding: 0px 20px;
}
.tab-content h3{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
.tab-content p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
}

.tab-btn {
	padding: 10px 25px;
    border: none;
    background: #ff8b38;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-top: 40px;
}
.tab-btn:hover{
	background: #333333;
	transition: 0.3s;
}

/**********************
	Sub List Section
***********************/

.sub-list{
	width: 100%;
	padding: 80px 0;
}
.sub-list-content h3{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.sub-list-content p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
	width: 85%;
}

.sub-line{
	height: 1px;
	width: 65px;
	background: #ff8b38;
	margin: 20px 0px;
}


.sub-list-icon{
	display: flex;
}
.sub-list-bottom .col-md-1 img{
	padding: 10px;
    border-radius: 50%;
    border: 1px solid #ff8b38;
    margin-top: 15px;
  
}
.sub-list-bottom .col-md-5{
	width: 80%;
	margin-left: 15px;
	margin-top: 12px;
}
.sub-list-bottom .col-md-5 h6{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.sub-list-bottom .col-md-5 p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
}
/**********************
Standard Picture Section
***********************/
.standard{
	width: 100%;
	padding: 80px 0;
	background: #f5f5f5;
}
.standard-content{
	padding: 25px;
}
.standard-content h3{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.standard-content p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: gray;
}
.standard-line{
	height: 1px;
	width: 75px;
	background: #ff8b38;
	margin: 20px 0px;
}
.standard-content .col-md-6 img{
	width: 100%;
}

/**********************
Standard Picture Section
***********************/
.awesome{
	width: 100%;
	padding: 80px 0;
}
.awesome-top h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}
.awesome-line{
	height: 1px;
	width: 65px;
	background: #ff8b38;
	margin: 20px auto;
}
.awesome-top p, .awesome-bottom p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: gray;
	text-align: center;
}

.awesome-bottom {
    text-align: center;
    margin-top: 50px;
}
.icon-1 img{
	padding: 16px 22px;
    border-radius: 50%;
    border: 1px solid #ff8b38;
    margin-bottom: 30px;
}
.icon-2 img{
	padding: 18px 13px;
    border-radius: 50%;
    border: 1px solid #ff8b38;
    margin-bottom: 30px;
}
.icon-3 img{
	padding: 15px 23px;
    border-radius: 50%;
    border: 1px solid #ff8b38;
    margin-bottom: 30px;
}
.awesome-bottom h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
